@font-face {
  font-family: 'Manrope';
  src        : url('Manrope-ExtraBold.woff2') format('woff2'),
    url('Manrope-ExtraBold.woff') format('woff');
  font-weight : 800;
  font-style  : normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src        : url('Manrope-Light.woff2') format('woff2'),
    url('Manrope-Light.woff') format('woff');
  font-weight : 300;
  font-style  : normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src        : url('Manrope-ExtraLight.woff2') format('woff2'),
    url('Manrope-ExtraLight.woff') format('woff');
  font-weight : 200;
  font-style  : normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src        : url('Manrope-Regular.woff2') format('woff2'),
    url('Manrope-Regular.woff') format('woff');
  font-weight : normal;
  font-style  : normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src        : url('Manrope-Medium.woff2') format('woff2'),
    url('Manrope-Medium.woff') format('woff');
  font-weight : 500;
  font-style  : normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src        : url('Manrope-Bold.woff2') format('woff2'),
    url('Manrope-Bold.woff') format('woff');
  font-weight : bold;
  font-style  : normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src        : url('Manrope-SemiBold.woff2') format('woff2'),
    url('Manrope-SemiBold.woff') format('woff');
  font-weight : 600;
  font-style  : normal;
  font-display: swap;
}



* {
  margin         : 0;
  padding        : 0;
  list-style     : none;
  text-decoration: none;
  border         : none;
  outline        : none;
  font-family    : 'Manrope', 'Arial', 'Helvetica', 'sans-serif';
}

:root {
  --color-primary   : #8C30F5;
  --color-black     : #18191F;
  --color-white     : #FFFFFF;
  --font-bold       : 700;
  --font-normal     : normal;
  --font-size-xsmall: 0.85rem;
  --font-size-small : 1rem;
  --font-size-medium: 1.5rem;
  --font-size-large : 2.5rem;
  --font-size-xlarge: 3rem;
}

.container {
  max-width   : 100%;
  margin-left : auto;
  margin-right: auto;
}

.header {
  background-color: var(--color-white);
}

.header__logo {
  position: relative;
  top     : 2rem;
}

/* Hamburger Menu
      ============================= */

.respmenu__input[type="checkbox"],
.respmenu__bars,
.respmenu__x {
  position  : absolute;
  box-sizing: border-box;
  margin    : 0;
  padding   : 0;
  left      : 2.8rem;
  top       : 2.46rem;
  width     : 20px;
  height    : 14px;
}

.respmenu__bars,
.respmenu__x {
  font-size     : var(--font-size-xlarge);
  pointer-events: none;
}

.respmenu__input[type="checkbox"] {
  opacity: 0;
}

.navbar-menu {
  display: none;
}

.respmenu__input:checked~.navbar-menu {
  display: block;
}

.respmenu__input:checked~.respmenu__bars {
  display: none;
}

.respmenu__input:not(:checked)~.respmenu__x {
  display: none;
}

/* Navbar
      ============================= */

.navbar-menu {
  margin-top: 5rem;
}

.navbar-menu__item {
  display: block;
}

.navbar-menu__link {
  display    : block;
  padding    : 1.5rem 0;
  position   : relative;
  color      : var(--color-black);
  font-size  : var(--font-size-small);
  font-weight: var(--font-bold);
}

.navbar-menu__link:hover {
  color: var(--color-primary);
}

.navbar-menu__item:hover .navbar-menu__link::before {
  background-color: var(--color-primary);
  width           : 100%;
}

.badges {
  display: none;
}

.hr {
  display: none;
}

.main__hr1 {
  display       : block;
  border-top    : 1px solid #E5E9F2;
  padding-bottom: 2rem;
}

.main__hr2 {
  display   : block;
  border-top: 1px solid #E5E9F2;
  margin-top: 2rem;
}

.main__container {
  max-width   : 100%;
  margin-left : auto;
  margin-right: auto;
  padding     : 3rem 3rem 0 3rem;
}

/* Hero
      ============================= */

.hero {
  text-align    : center;
  display       : flex;
  flex-direction: column;
  align-items   : center;
}

.hero__items {
  margin-top   : 4rem;
  margin-bottom: 0.5rem;
}

.hero__button {
  background-color: var(--color-primary);
  color           : var(--color-white);
  font-size       : var(--font-size-xsmall);
  font-weight     : var(--font-bold);
  letter-spacing  : 1px;
}

.btn {
  border-radius: 8px;
  padding      : 1rem 1.8rem;
}

.hero__iphone {
  width : 100%;
  height: auto;
}

.hero__circle {
  width : 100%;
  height: auto;
}


/* Clients
      ============================= */

.clients {
  display        : flex;
  justify-content: center;
  text-align     : center;
}

/* FEATURES
      ============================= */

.features {
  margin: 5rem 0;
}

.features__title {
  text-align: center;
}

.features__boxes {
  display        : flex;
  justify-content: center;
  flex-wrap      : wrap;
  position       : relative;
}

.features__circle {
  display: none;
}

.box {
  background-color: var(--color-white);
  box-shadow      : 0px 10px 20px rgba(41, 41, 42, 0.07);
  border-radius   : 8px;
  width           : 200px;
  height          : 145px;
  padding         : 24px;
  margin          : 30px;
}

.box__item {
  display        : flex;
  flex-direction : column;
  justify-content: space-between;
  width          : 100%;
  height         : 100%;
}

.box__title {
  width: 68%;
}


/* Footer
      ============================= */

.footer {
  background-color  : var(--color-black);
  color             : var(--color-white);
  /*position        : fixed;*/
  bottom            : 0;
  width             : 100%;
  text-align        : center;
}

.footer__container {
  max-width: 100%;
  margin   : 0 auto;
  padding  : 0 20px;
}

.footer__up {
  padding        : 30px 27px 0 27px;
}

.footer__links {
  display       : flex;
  flex-direction: column;
  align-items   : center;
  margin        : 20px 0 12px;
  padding       : 0;
}

.footer__item {
  color      : var(--color-white);
  text-align : left;
  font-size  : var(--font-size-xsmall);
  font-weight: var(--font-normal);
  padding    : 1rem;
}

.footer__badges {
  margin-top: 1rem;
}

.footer__hr {
  display   : block;
  border-top: 1px solid #E5E9F2;
  opacity   : 0.1;
  margin    : 1rem 0;
}

.footer__rights {
  font-size: var(--font-size-xsmall);
}

.footer__social {
  margin-top: 0.5rem;
}

/* Breakpoints
      ============================= */

@media screen and (min-width: 576px) {
  .clients__items {
    margin: 1rem 0;
  }

}

@media screen and (max-width: 767px) {
  .header {
    text-align: center;
  }

}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {

  .navbar-menu {
    display    : flex;
    margin-top : -16px;
    margin-left: 11rem;
  }

  .respmenu__bars {
    display: none;
  }

  .respmenu__x {
    display: none;
  }

  .navbar-menu__list {
    display: flex;
  }

  .navbar-menu__item {
    padding: 0 1rem;
  }

  .header__logo {
    display    : flex;
    margin-left: 3rem;
  }

  .hr {
    display   : block;
    border-top: 0.5px solid #E5E9F2;
  }

  .clients__items {
    margin: 0 0.5rem;
  }

  .clients__hubspot {
    margin-bottom: 2px;
  }

  .footer__up {
    display        : flex;
    justify-content: space-between;
    text-align     : left;
  }

  .footer__links {
    align-items: end;
  }

  .footer__item {
    padding: 0.5rem 0;
  }

  .footer__down {
    display        : flex;
    justify-content: space-evenly;
    padding        : 1rem 2rem;
  }

  .footer__badges {
    display       : flex;
    flex-direction: column;
    margin-top    : 1.2rem;
  }

  .footer__social {
    margin-top: -0.5rem;
  }

  .badges__google {
    margin-bottom: 1rem;
  }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    padding: 0 2rem;
  }

  .navbar-menu {
    margin-left: 10rem;
  }

  .badges {
    display        : flex;
    justify-content: flex-end;
    margin-top     : -3.3rem
  }

  .badges__google {
    margin-right: 12px;
  }

  .hr {
    margin-top: 1rem;
  }

  .hero__title {
    font-size: 3rem;
  }

  .hero__iphone {
    width: 900px;
  }

  .clients__items {
    margin-left: 1rem;
  }

  .footer__up {
    padding: 30px 4rem 0 4rem;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    padding: 0 5rem;
  }

  .navbar-menu {
    margin-left: 11rem;
  }

  .hero__title {
    font-size: 4.2rem;
  }

  .hero__iphone {
    width: 900px;
  }

  .features__title {
    text-align: left;
    padding   : 0 2rem;
    font-size : var(--font-size-large);
  }

  .features__boxes {
    display: block;
  }

  .features__circle {
    display : block;
    position: absolute;
    top     : -5rem;
    right   : -2rem;
    z-index : -1;
  }

  .box__group1 {
    display: flex;
  }

  .box__group2 {
    display: flex;
  }

  .badges {
    margin-right: 4rem;
  }

  .footer__up {
    padding: 30px 7rem 0 7rem;
  }

  .footer__rights {
    width     : 30%;
    text-align: center;
  }

  .footer__social {
    width     : 55%;
    text-align: end;
  }

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .container {
    padding: 0 10rem;
  }

  .hero__title {
    font-size: 4.5rem;
  }

  .hero__iphone {
    width: 1000px;
  }

  .clients__items {
    margin-left: 2rem;
  }

  .features__circle {
    right: -8rem;
  }

  .footer__up {
    padding: 30px 12rem 0 12rem;
  }

  .footer__social {
    width: 40%;
  }
}